.meus-projetos {
    display: block;
    align-items: center;
    height: 100%;
}

.meus-projetos .projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetos .projeto {
    margin-right: 50px;
}

.projetos .projeto .image-projeto img {
    width: 470px;
    height: 220px;
    border-radius: 10px;
}

.projetos .projeto .nome-projeto a h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1300px) {
    .meus-projetos {
        height: 100%;
    }

    .projetos .projeto {
        margin: auto auto;
        padding: 10px;
    }

    .projetos .projeto .image-projeto img {
        width: 400px;
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .projetos .projeto .image-projeto img {
        width: 360px;
        height: 200px;
    }
}

@media (max-width: 360px) {
    .projetos .projeto img {
        width: 300px;
        height: 120px;
    }
}